<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <app-error-msg></app-error-msg>
      <div>
        <button type="button" class="btn btn-success" routerLink="/lembrete/criar">Novo lembrete</button>
      </div>
      <div class="text-center" *ngIf="!existemLembretes()">
        Nenhum lembrete cadastrado.
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngFor="let lembrete of lembretes">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <span class="badge badge-pill"
            [class.badge-danger]="lembrete.prioridade == 'ALTA'"
            [class.badge-warning]="lembrete.prioridade == 'MEDIA'"
            [class.badge-success]="lembrete.prioridade == 'BAIXA'">
            PRIORIDADE {{lembrete.prioridade}}
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">{{lembrete.prioridade}}</p>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/lembrete/editar/{{lembrete.id}}">Editar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletaLembrete(lembrete.id)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
